In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [6]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'. format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [7]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [8]:
enumerate(word)

In [9]:
print(enumerate(word))

<enumerate object at 0x7fdd373832c0>

In [10]:
list(enumerate(word))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [11]:
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
for index,letter in enumerate(word):
    print(letter)

a
b
c
d
e

In [13]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [14]:
list(range(2,5,2))

[2, 4]

In [15]:
list1 = [1,2,3]
list2 = ['a','b','c']
list3 = [100,200,300]

In [16]:
zip(list1,list2,list3)

In [17]:
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
for a,b,c in zip(list1,list2,list3):
    print(b)

a
b
c

In [20]:
'x' in [1,2,3]

False

In [21]:
'x' in [' x', 'y']

False

In [22]:
'a' in ' a'

True

In [23]:
'mykey' in {'mykey': 345}

True

In [24]:
d = {'mykey': 345}

In [26]:
d.items()

dict_items([('mykey', 345)])

In [27]:
d.keys()

dict_keys(['mykey'])

In [28]:
d.values()

dict_values([345])

In [30]:
345 in d.items()

False

In [31]:
345 in d.values()

True

In [32]:
mylist = [10,20,30]

In [33]:
min(mylist)

10

In [34]:
max(mylist)

30

In [35]:
from random import shuffle

In [36]:
mylist = list(range(11))

In [37]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
shuffle(mylist)

In [39]:
mylist

[7, 10, 0, 6, 4, 5, 2, 8, 9, 1, 3]

In [40]:
from random import randint

In [41]:
randint(0,100)

51

In [42]:
result = input('enter a number')

enter a number20

In [43]:
a = '50'

In [44]:
int(a)

50

In [45]:
a = '50'

In [47]:
float(a)

50.0

In [48]:
mystring = 'hello'

In [49]:
mylist = []

In [50]:
for letter in mystring:
    mylist.append(letter)

In [51]:
mylist

['h', 'e', 'l', 'l', 'o']

In [52]:
mylist = [letter for letter in mystring]

In [53]:
mylist

['h', 'e', 'l', 'l', 'o']

In [54]:
mylist = [letter for letter in 'Tooran']

In [55]:
mylist

['T', 'o', 'o', 'r', 'a', 'n']

In [56]:
list(range(3,10,3))

[3, 6, 9]

In [57]:
mylist = [a for a in range(2,10)]

In [58]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
for num in range(0,2):
    mylist.append(num)

In [63]:
mylist = [num*2 for num in range(0,3)]

In [64]:
mylist

[0, 2, 4]

In [67]:
result = [x if x%2 == 0 else 'ODD' for x in range(0,5)]

In [68]:
result

[0, 'ODD', 2, 'ODD', 4]