In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# every value is indexed.

obj = Series([3,6,9,12])

In [5]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
ww2_cas = Series([8700000,4300000, 3000000, 2100000, 400000], index = ['USSR','Germany','China','Japan','USA'])

In [11]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [12]:
ww2_cas['USA']

400000

In [13]:
#check which countries has cas greater than 4 million

In [14]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [15]:
'USA' in ww2_cas

True

In [20]:
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [18]:
ww2_series = Series(ww2_dict)

In [19]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [22]:
countries = ['China', 'Germany', 'Japan','USA', 'USSR', 'Argentina']

In [23]:
obj2 = Series(ww2_dict, index = countries)

In [24]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [26]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [27]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [28]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [29]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [30]:
obj2.name = 'World War 2 Casualties'

In [31]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [32]:
obj2.index.name = 'Countries'

In [33]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [40]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [41]:
nfl_frame = pd.read_clipboard()

In [42]:
nfl_frame

Empty DataFrame
Columns: [https://sites.google.com/umn.edu/fatemeh-nosrat/home]
Index: []

In [43]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [44]:
nfl_frame = pd.read_clipboard()

In [46]:
nfl_frame.columns

Index(['nfl_frame', '=', 'pd.read_clipboard()'], dtype='object')

In [47]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population':[87,38,84]}

In [48]:
city_frame = DataFrame(data)

In [49]:
city_frame

  City  Population
0   SF          87
1   LA          38
2  NYC          84